<!DOCTYPE html>
<html lang="en">





<body>
    <%- include ('includes/header.ejs') %>
    <%- include ('includes/nav.ejs') %> 
    
        <div class="page-wrapper"> 
            <div class="content">
                
				<div class="row">
					<div class="card member-panel">
						<div class="card-header bg-white"> 
							<h4 class="card-title mb-0">Users</h4>
						</div>
					<div class="table-responsive">
						<table class="table table-striped custom-table">
						  <thead>
							<tr>
							  <th>User ID</th>
							  <th>Username</th>
		  
							  <th>Email</th>
							  <th>DOB</th>
							  <th>Phone</th>
							  
		  
							  <th><a href="/users" class="btn-secondary">View all Users</a> </th>
							</tr>
						  </thead>
						  <tbody>
							<% for (var i = 0; i < userlist.length; i++){ %>
							<tr>
							  <td><%= userlist[i].userid %></td>
							  <td><%= userlist[i].username %></td>
							  <td><%= userlist[i].email %></td>
							  <td><%= userlist[i].dob %></td>
							  <td><%= userlist[i].phone %></td>
							  
							  <td class="text-right">
								
							  </td>
		  
							  <% } %>
							</tr>
						  </tbody>
						</table>
					  </div>
					</div>
					
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card member-panel">
							<div class="card-header bg-white"> 
								<h4 class="card-title mb-0">Users</h4>
							</div>
                            <div class="card-body">
                                <ul class="contact-list">
                                    <% for (let i = 0; i < userlist.length; i++){ %>
                                    <li>
                                        <div class="contact-cont"> 
                                            
                                            <div class="contact-info">
                                                <span class="contact-name text-ellipsis"><%= userlist[i].username%> <%= userlist[i].email%></span>
                                                
                                                <!-- <span class="contact-date">MBBS, MD</span> -->
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                    
                                  
                            
                                  
                                </ul>
                            </div>
                            <div class="card-footer text-center bg-white">
                                <a href="/users" class="text-muted">View all Users</a> 
                            </div>
                        </div>
                    </div>
				</div>
				
            </div>
            
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/Chart.bundle.js"></script>
    <script src="/assets/js/chart.js"></script>
    <script src="/assets/js/app.js"></script>

</body>



</html>



