<!DOCTYPE html>
<html lang="en">





<body>

  
    <%- include ('../includes/header.ejs') %>
    <%- include ('../includes/nav.ejs') %> 
        <div class="page-wrapper"> 
            <div class="content">
                <div class="row">
                    <div class="col-sm-8 col-6">
                        <h4 class="page-title">User Requests</h4>
                    </div>
                    <!-- <div class="col-sm-4 col-6 text-right m-b-30">
                        <a href="/userrequests/addRequest" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Request</a>
                    </div> -->
                </div>
                <form action="" method="POST">
                    <div class="row filter-row">
                       
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">Donor Name </label>
                                <input type="text" class="form-control floating" name="search">
                            </div>
                        </div>
                       
                        <div class="col-sm-6 col-md-3">
                           <button formaction="/userrequests/search" class="btn btn-success btn-block">Search</button>
                        </div>
                    </div>
                    </form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        
                                        <th>User id</th>
                                        <th>User name</th>
                                        <th>Date of Birth</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Bloodtype</th>
                                        <th>Phone</th>
                                        
                                       
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i = list.length; i>0 ; i--){ %>
                                    <tr>
                                        
                                        <td>
                                            <strong> <%= list[0].userid %> </strong>
                                        </td>
                                        <td><%= list[0].username %></td>
                                        <td><%= list[0].dob %></td>
                                        <td><%= list[0].email %> </td>
                                        <td><%= list[0].address %></td>
                                        <td><%= list[0].bloodtype %></td>
                                        <td
                                         class="text-center"
                                         >
                                            <%= list[0].phone %>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/approverequest/<%= list[0].userid%>"><i class="fa fa-pencil m-r-5"></i> Approve</a>
                                                    <a class="dropdown-item" href="/declinerequest/<%= list[0].userid%>" ><i class="fa fa-trash-o m-r-5"></i> Decline</a>
                                                </div> 
                                            </div>
                                        </td>
                                        <% } %>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
		<!-- <div id="delete_asset" class="modal fade delete-modal" role="dialog">
            <% for (var i = 0; i < list.length; i++){ %>
            <form action="/userrequests/deleteRequest/<%= list[i].id%>" method="POST">
                <% } %>
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="assets/img/sent.png" alt="" width="50" height="46">
						<h3>Are you sure want to delete this medicine?</h3>
						<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
							<button type="submit" class="btn btn-danger">Delete</button>
						</div>
					</div>
				</div>
            </div>
        </form>
		</div> -->
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>


<!-- assets23:58-->
</html>