<!DOCTYPE html>
<html lang="en">




<body>
    <%- include ('../includes/header.ejs') %>
    <%- include ('../includes/nav.ejs') %> 
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Delete User</h4>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-8 offset-lg-2">
                        <form method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <% for (var i = 0; i < list.length; i++){ %>
                                        <label>User Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="username" value="<%= list[i].username %>">
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" name="email" value="<%= list[i].email %>">
                                    </div>
                                </div>
                               
                                
								<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <div class="cal-icon">
                                            <input type="text" class="form-control datetimepicker" name="dob" value="<%= list[i].dob %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <div >
                                            <input type="text" class="form-control datetimepicker" name="phone" value="<%= list[i].phone %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control select" name="gender" value="<%= list[i].gender %>">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Others">Others</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Blood type</label>
                                            <select class="form-control select" name="bloodtype" value="<%= list[i].bloodtype %>">
                                                <option value="A+">A+</option>
                                                <option value="B+">B+</option>
                                                <option value="AB+">AB+</option>
                                                <option value="AB-" >AB-</option>
                                                <option value="A- " >A-</option>
                                                <option value="B- " >B-</option>
                                                <option value="O+ " >O+ </option>
                                                <option value="O- " >O-</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Address </label>
                                    <input class="form-control" type="text" name="address" value="<%= list[i].address %>">
                                </div>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Role</label>
                                    <div class="form-group">
                                        
                                        <div class="upload-input">
                                            <input type="text" class="form-control" name="role" value="<%= list[i].role %>">
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label>Email Status</label>
                                    <input class="form-control" type="text" name="emailstatus" value="<%= list[i].emailstatus %>">
                                </div>
                            </div>
                            </div>
							

                            <% } %>
                   
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Delete User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
			
        </div>
    </div>
    <!-- <div class="sidebar-overlay" data-reff=""></div>
    <script src="/ass/ets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/select2.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.min.js"></script> -->
    <script src="/assets/js/app.js"></script>
</body>


<!-- add-doctor24:06-->
</html>
